{% extends 'base.html'%}

{% block 'title'%}
Login

{% endblock%}

{% block 'body' %}
<div class="container">

    <div class="row">
        <div class="col-md-3">
            {% if status == '1' %}
                <div class="alert alert-success" role="alert">
                Invalid email or password
                </div>
            {% endif %}
            {% if status == '2' %}
                <div class="alert alert-warning" role="alert">
                Please log in before accessing the system
                </div>
            {% endif %}
        </div>

        <div class="col-md">
            <br>
            <h1>Login</h1>
            <br>

            <form method="POST" action="{% url 'validate_login'%}">
                <label>Enter your email:</label>
                <input class="form-control" type="text" placeholder="E-mail" name = "email">
                <br>
                <label>Enter your password:</label>
                <input class="form-control" type="password" placeholder="password" name = "password">
                <br>
                <input class="btn btn-success btn-lg" type="submit">
                <a href="#" class="btn btn-info btn-lg">Sign Up</a>
            </form>
        </div>

        <div class="col-md-3">
            
        </div>
    </div>

</div>
{% endblock %}