{% extends 'base.html'%}

{% block 'title'%}
Course

{% endblock%}

{% block 'body' %}
<div class="container">
  <br>
  <h1>Classes</h1>
  <div class="row">
      

      {% for i in classes %}

          <div style="margin-top: 20px;" class="col-md">
              <div class="card" style="width: 18rem;">
                <video  controls>
                  <source src="{{i.classes.url}}" type="video/mp4">

                  Your browser does not support the video tag.
                </video>
                  <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <a href="{% url 'classes' i.id %}" class="btn btn-primary">Enter</a>
                  </div>
                </div>
          </div>
        
      {% endfor %}


  </div>

</div>
{% endblock %}