{% extends 'base.html'%}

{% block 'title'%}
Home

{% endblock%}

{% block 'body' %}
<div class="container">
  <br>
  <h1>Our Courses</h1>
  <div class="row">
      

      {% for i in courses %}

          <div style="margin-top: 20px;" class="col-md">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{i.thumb.url}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <a href="#" class="btn btn-primary">Enter</a>
                  </div>
                </div>
          </div>
        
      {% endfor %}


  </div>

</div>
{% endblock %}